<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ValidateUserServlet</display-name>
    <servlet-name>ValidateUserServlet</servlet-name>
    <servlet-class>servlets.ValidateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUserServlet</servlet-name>
    <url-pattern>/ValidateUserServlet</url-pattern>
  </servlet-mapping>
  <display-name>GenesisGym</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>servlets.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoosePlanServlet</display-name>
    <servlet-name>ChoosePlanServlet</servlet-name>
    <servlet-class>servlets.ChoosePlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoosePlanServlet</servlet-name>
    <url-pattern>/ChoosePlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageRoutinesServlet</display-name>
    <servlet-name>ManageRoutinesServlet</servlet-name>
    <servlet-class>servlets.ManageRoutinesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageRoutinesServlet</servlet-name>
    <url-pattern>/ManageRoutinesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRoutineServlet</display-name>
    <servlet-name>ShowRoutineServlet</servlet-name>
    <servlet-class>servlets.ShowRoutineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRoutineServlet</servlet-name>
    <url-pattern>/ShowRoutineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRoutineServlet</display-name>
    <servlet-name>CreateRoutineServlet</servlet-name>
    <servlet-class>servlets.CreateRoutineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRoutineServlet</servlet-name>
    <url-pattern>/CreateRoutineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewRoutineServlet</display-name>
    <servlet-name>InsertNewRoutineServlet</servlet-name>
    <servlet-class>servlets.InsertNewRoutineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewRoutineServlet</servlet-name>
    <url-pattern>/InsertNewRoutineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteExerciseServlet</display-name>
    <servlet-name>DeleteExerciseServlet</servlet-name>
    <servlet-class>servlets.DeleteExerciseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExerciseServlet</servlet-name>
    <url-pattern>/DeleteExerciseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateExerciseServlet</display-name>
    <servlet-name>CreateExerciseServlet</servlet-name>
    <servlet-class>servlets.CreateExerciseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateExerciseServlet</servlet-name>
    <url-pattern>/CreateExerciseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewExercise</display-name>
    <servlet-name>InsertNewExercise</servlet-name>
    <servlet-class>servlets.InsertNewExercise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewExercise</servlet-name>
    <url-pattern>/InsertNewExercise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewExerciseServlet</display-name>
    <servlet-name>InsertNewExerciseServlet</servlet-name>
    <servlet-class>servlets.InsertNewExerciseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewExerciseServlet</servlet-name>
    <url-pattern>/InsertNewExerciseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagePlansServlet</display-name>
    <servlet-name>ManagePlansServlet</servlet-name>
    <servlet-class>servlets.ManagePlansServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagePlansServlet</servlet-name>
    <url-pattern>/ManagePlansServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoutineServlet</display-name>
    <servlet-name>DeleteRoutineServlet</servlet-name>
    <servlet-class>servlets.DeleteRoutineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoutineServlet</servlet-name>
    <url-pattern>/DeleteRoutineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageClassesServlet</display-name>
    <servlet-name>ManageClassesServlet</servlet-name>
    <servlet-class>servlets.ManageClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageClassesServlet</servlet-name>
    <url-pattern>/ManageClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEnrollmentServlet</display-name>
    <servlet-name>DeleteEnrollmentServlet</servlet-name>
    <servlet-class>servlets.DeleteEnrollmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEnrollmentServlet</servlet-name>
    <url-pattern>/DeleteEnrollmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAvailableClassesServlet</display-name>
    <servlet-name>ShowAvailableClassesServlet</servlet-name>
    <servlet-class>servlets.ShowAvailableClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAvailableClassesServlet</servlet-name>
    <url-pattern>/ShowAvailableClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnrollInClassServlet</display-name>
    <servlet-name>EnrollInClassServlet</servlet-name>
    <servlet-class>servlets.EnrollInClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollInClassServlet</servlet-name>
    <url-pattern>/EnrollInClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageFeesServlet</display-name>
    <servlet-name>ManageFeesServlet</servlet-name>
    <servlet-class>servlets.ManageFeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageFeesServlet</servlet-name>
    <url-pattern>/ManageFeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayFeeServlet</display-name>
    <servlet-name>PayFeeServlet</servlet-name>
    <servlet-class>servlets.PayFeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayFeeServlet</servlet-name>
    <url-pattern>/PayFeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTaughtClassesServlet</display-name>
    <servlet-name>ManageTaughtClassesServlet</servlet-name>
    <servlet-class>servlets.ManageTaughtClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTaughtClassesServlet</servlet-name>
    <url-pattern>/ManageTaughtClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClassServlet</display-name>
    <servlet-name>DeleteClassServlet</servlet-name>
    <servlet-class>servlets.DeleteClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClassServlet</servlet-name>
    <url-pattern>/DeleteClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateClassServlet</display-name>
    <servlet-name>CreateClassServlet</servlet-name>
    <servlet-class>servlets.CreateClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateClassServlet</servlet-name>
    <url-pattern>/CreateClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewClassServlet</display-name>
    <servlet-name>InsertNewClassServlet</servlet-name>
    <servlet-class>servlets.InsertNewClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewClassServlet</servlet-name>
    <url-pattern>/InsertNewClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageExerciseTypesServlet</display-name>
    <servlet-name>ManageExerciseTypesServlet</servlet-name>
    <servlet-class>servlets.ManageExerciseTypesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageExerciseTypesServlet</servlet-name>
    <url-pattern>/ManageExerciseTypesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateExerciseTypeServlet</display-name>
    <servlet-name>CreateExerciseTypeServlet</servlet-name>
    <servlet-class>servlets.CreateExerciseTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateExerciseTypeServlet</servlet-name>
    <url-pattern>/CreateExerciseTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewExerciseTypeServlet</display-name>
    <servlet-name>InsertNewExerciseTypeServlet</servlet-name>
    <servlet-class>servlets.InsertNewExerciseTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewExerciseTypeServlet</servlet-name>
    <url-pattern>/InsertNewExerciseTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteExerciseTypeServlet</display-name>
    <servlet-name>DeleteExerciseTypeServlet</servlet-name>
    <servlet-class>servlets.DeleteExerciseTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExerciseTypeServlet</servlet-name>
    <url-pattern>/DeleteExerciseTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageAdminPlansServlet</display-name>
    <servlet-name>ManageAdminPlansServlet</servlet-name>
    <servlet-class>servlets.ManageAdminPlansServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAdminPlansServlet</servlet-name>
    <url-pattern>/ManageAdminPlansServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePlanServlet</display-name>
    <servlet-name>CreatePlanServlet</servlet-name>
    <servlet-class>servlets.CreatePlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePlanServlet</servlet-name>
    <url-pattern>/CreatePlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewPlanServlet</display-name>
    <servlet-name>InsertNewPlanServlet</servlet-name>
    <servlet-class>servlets.InsertNewPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewPlanServlet</servlet-name>
    <url-pattern>/InsertNewPlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePlanServlet</display-name>
    <servlet-name>DeletePlanServlet</servlet-name>
    <servlet-class>servlets.DeletePlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlanServlet</servlet-name>
    <url-pattern>/DeletePlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExportTaughtClassesPDFServlet</servlet-name>
    <servlet-class>servlets.ExportTaughtClassesPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportTaughtClassesPDFServlet</servlet-name>
    <url-pattern>/ExportTaughtClassesPDFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/Login.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.Throwable</exception-type>
  	<location>/ErrorPage.jsp</location>
  </error-page>
</web-app>