<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ValidateUserServlet</display-name>
    <servlet-name>ValidateUserServlet</servlet-name>
    <servlet-class>servlets.ValidateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUserServlet</servlet-name>
    <url-pattern>/ValidateUserServlet</url-pattern>
  </servlet-mapping>
  <display-name>GenesisGym</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>servlets.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoosePlanServlet</display-name>
    <servlet-name>ChoosePlanServlet</servlet-name>
    <servlet-class>servlets.ChoosePlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoosePlanServlet</servlet-name>
    <url-pattern>/ChoosePlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageRoutinesServlet</display-name>
    <servlet-name>ManageRoutinesServlet</servlet-name>
    <servlet-class>servlets.ManageRoutinesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageRoutinesServlet</servlet-name>
    <url-pattern>/ManageRoutinesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRoutineServlet</display-name>
    <servlet-name>ShowRoutineServlet</servlet-name>
    <servlet-class>servlets.ShowRoutineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRoutineServlet</servlet-name>
    <url-pattern>/ShowRoutineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRoutineServlet</display-name>
    <servlet-name>CreateRoutineServlet</servlet-name>
    <servlet-class>servlets.CreateRoutineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRoutineServlet</servlet-name>
    <url-pattern>/CreateRoutineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewRoutineServlet</display-name>
    <servlet-name>InsertNewRoutineServlet</servlet-name>
    <servlet-class>servlets.InsertNewRoutineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewRoutineServlet</servlet-name>
    <url-pattern>/InsertNewRoutineServlet</url-pattern>
  </servlet-mapping>
</web-app>